//META{"name":"Quinty","description":"A simple pack for destroying everything","author":"Quinty","version":"0.0","invite":"","source":"https://github.com/Quinten36/discordTheme"}*//

.container-3baos1:before, .container-3baos1:after, .typeWindows-1za-n7>.wordmark-2iDDfm:before, .typeWindows-1za-n7>.wordmark-2iDDfm:after {
  content: "" !important;
}

#app-mount {
  font-family: 'Roboto';/*, 'Arial'*/
}

svg.homeIcon-tEMBK1, .da-homeIcon {
  background: url(https://i.imgur.com/vbSJz26.gif);
  background-position: center;
  background-size: 65px 65px;
  color: transparent !important;
  z-index: 2;
  width: 55px;
  height: 56px;
}

#app-mount .base-3dtUhz:before {
  content: "";
  position: absolute;
  height: 5px;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.2), transparent);
  z-index: 1;
  top: 48px;
  pointer-events: none;
  user-select: none;
}

.appMount-3lHmkl .actionButtons-14eAc_ > .lookFilled-1Gx00P.colorBrand-3pXr91 {
  background-color: #36D1DC;
  background-image: linear-gradient(to bottom right,#36D1DC,#5B86E5);
  border: none;
  color: #fff;
  border-radius: 40px 11px;
}

/*Om meer servers te vinden*/
#bd-pub-li {
  display: none;
}

.container-1giJp5>.flex-1O1GKY {
  padding: 0 4px;
}

.container-1giJp5>.flex-1O1GKY>.inner-tyMogq {
  padding: 1px 0 1px 2px;
}

.actionIcon-2Hi9ZG {
  width: 17px;
  height: 17px;
}

/*Weet nog niet zeker of het mooi is*/
.embedWrapper-lXpS3L .grid-1nZz7S {
  background-color: rgba(0,0,0,0.45);
  border-radius: 0 20px 20px 0;
}